<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.network">

    <application>
        <activity
            android:name=".environment.EnvironmentSettingsActivity"
            android:label="@string/title_activity_environment_settings"></activity>
    </application>

</manifest>